# Dependencies
node_modules

# Build output
dist

# Coverage
coverage

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Cache
.cache
*.tsbuildinfo