:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-white: #F5F5F5;
  --color-black: #000000;
  --color-dark: #002539;

  --color-red: #FF0000;
  --color-green: #008000;
  --color-blue: #009CFF;
  --color-background: #F5F5F5;

  --color-accent : var(--color-green);

  --color-text: var(--color-black);

  --navbar-height: 72px;
}

*[data-elevation="1"] {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-dark);
    --color-text: var(--color-white);
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

/* main {
  margin-top: var(--navbar-height);
} */